@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
}


@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/rubik.-700woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;

}
body {
  margin: 0 auto;
  min-width: 1160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF; 
}
.main-container{
  flex-grow: 1;
}
.main-inner { 
   
   width: 1160px;
   margin: 0 auto;
}

a {
  text-decoration: none;  
}
.page-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
  flex-direction: column;
  color:#000000;
  background: #FFE17F;
  width: 1160px;
}

.navigation-item-serch{
  opacity: 0.3;
  color: #000000;
  margin-right: auto;
  width: 516px;
  padding: auto;
  background: none;
  border: none;
}
.navigation-item-serch:hover{
  opacity: 0.6;
  margin-right: auto;
  width: 516px;
  padding: auto;
}
.navigation-item-serch:focus{
  opacity: 0.3;
  width: 516px;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}





.navigation-item-enter{
  margin-right: auto;
  width: 220px;
}
.navigation-item-enter::before {
  content: "";
  background-image: url("images/search.svg");
  margin-right: 16px;
  margin-left: 16px;
  }
.navigation-item-enter:hover{
  color: #000000;
 opacity: 0.6;
}
.navigation-item-enter:focus{
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}
.navigation-item-enter:active{
  opacity: 0.3;
}



.navigation-item-compare{
  margin-right: auto;
  width: 120px;
  margin-left: 15px;
}
.navigation-item-compare:hover{
  color: #000000;
  opacity: 0.6;
}
.navigation-item-compare:focus{
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}
.navigation-item-compare:active{
  opacity: 0.3;
}




.navigation-item-basket{
  margin-right: auto;
  margin-left: 14px;
  width: 100px;
}
.navigation-item-basket:hover{
  color: #000000;
  opacity: 0.6;
}
.navigation-item-basket:focus{
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}
.navigation-item-basket:active{
  opacity: 0.3;
}
.img-basket::before{
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #FFFFFF;
}


.img-serch {    
  margin-right: 20px;
}
.img-enter{
  margin-right: 12px;
}
.img-compare{
  margin-right: 10px;
}
.img-basket{
 margin-right: 10px;
}
.custom-menu{
  max-width: 1160px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.main-menu{
  text-transform: uppercase;
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.navigation-item-catalog{
  opacity: 0.7;
  width: 286px;
  margin-right: auto;
}
.navigation-item-catalog::after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F0F0F0;
  border: 2px solid #000000;
}


.navigation-item-delivery{
  width: 140px;
  margin-right: auto;
  margin-left: 247px;

}
.navigation-item-guarantee{
  width: 140px;
  margin-right: auto;
  margin-left: 19px;
}
.navigation-item-contacts{
  width: 140px;
  margin-left: 62px;
  margin-right: auto;
}







.navigation-link {
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;  
  margin: 0;
  padding: 0;
 
}
.navigation-list{
  font-family: "Raleway", "Verdana", sans-serif;;
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-container {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  display: grid;
  gap: 40px;
  grid-template-columns: 560px 560px;
 
  width: 1160px;
  margin: 0 auto;
}
.slider-image{
  padding-right: 40px;
  width: 560px;

}
.slider-pagination{
  display: flex;
  align-items: center;
  margin-bottom: 70px;

}
.slider-pagination-list{
  display: flex;
  list-style-type: none;

}

.slide-text-heading{
  font-family: "Raleway", "Verdana", sans-serif;;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 19px;
}
.slider-wrapper{
    position: relative;
  
}
.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slide_text  {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  width: 560px;
}
.slide-text-paragraph{
  margin-bottom: 30px;
  font-family: Rubik;
  font-size: 18px;
}
.button-all {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none; 
  color: #000000;
  margin-right: 200px;
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: "Raleway", "Verdana", sans-serif;
}
.meaning {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  /* width: 160px; */
}
.description {
  grid-row: none;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
  color: #444444;
  /* width: 160px; */
}

.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0; 
  list-style-type: none;
  color: #000000;
  
}
.breadcrumbs-link {
  margin-right: 36px;
  color: inherit;
}

.sorting-type{
  display: flex;
  /* margin-bottom: 25px;
  margin-top: 25px; */
}
.inner-header{
  padding-left: 60px;
}

.product-card-title {
color: #000000;
font-size: 18px;
line-height: 24px;

}
.product-card-price{
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-size: 18px;
line-height: 21px;
font-weight: 400;

}
.button{
  margin-right: 10px;
}

.button-back{
  border: 0px;
  color: #000000;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-forward{
  border: 0px;
  color: #000000;
  width: 86px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
}

.pagination {
  width: 760px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 77px;
  background-color: #F0F0F0;
}
.pagination-item:not(:last-child) {
  margin-right: auto;
}

.pagination-last{
  margin-right: 160px;
}

.slider-container-services {

  display: flex;
  width: 1160px;
  
}
.slider-services-item{
  padding: 0;
  list-style-type: none;
}

.slider-delivery-link{
  width: 280px;
  background-color: black;
}




.services{
  background: #F0F0F0;
  margin-bottom: 90px;
  
}
.services-delivery-img{
  margin-top: 30px;
}

.slider-services {
color: #444444;
font-size: 18px;
margin-right: 120px;
border-right: 7px solid #000000;

}
.service-delivery {
  color: #FFE17F;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 9px 11px;
}
.service-guarantee {
  color: #000000;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

}
.service-credit {
  color: #000000;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.page-delivery{
  width: 1160px;
  margin: 0 auto;

}
.delivery {
  background: #F0F0F0;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 97px;
}
.delivery-img:hover{

  background: #FFC700;
}
.delivery-img:hover{

    background: #FFC700;
  }

.page-services-container{
  display: flex;
  margin: 0 auto;
  width: 1160px;
}
.product-description{
  display: grid;
  grid-template-columns: 160px 160px;
  gap: 14px;
  
}
.delivery-services{
  display: flex;
 
  margin-right: 60px;
  margin-bottom: 70px;
  border-bottom: 2px solid #000;
}
.delivery-text-heading{
  font-family: "Raleway", "Verdana", sans-serif;
  font-size: 50px;
    line-height: 50px;
    width: 560px;
}
.delivery-text-paragraph{
  width: 497px;
}

.delivery-img {
  cursor: pointer;
  width: 125px;
  height: 100px;
  background: #FFE17F;
  text-align: center;

}
.delivery-img-svg{
  margin-top: 35px;
}
.delivery-heading-text{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
.info{
  width: 40px;
height: 40px;
border-radius: 50%;
border: none;
background: rgba(220, 220, 220, 0.5);
margin-right: 33px;
}

.about-company{
  display: grid;
  grid-template-columns: 560px 560px;
  gap: 40px;
  width: 1160px;
  margin-bottom: 87px;
}

.aboutfirm {
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  margin-right: 40px;
  
}
.aboutfirm a {
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
.aboutfirm-title{
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 53px;
}
.aboutfirm-title-text{
  margin-bottom: 70px;

}
.contacts{
  color: #444444;
  font-size: 18px;
  line-height: 30px;
}
.contacts-a{
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

}
.contacts-title{
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 53px;
}
.contacts-subtitle{
  margin-top: 30px;
  margin-bottom: 15px;
  

}
.contacts-phone{
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}
.contacts-phone-footer{

  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: right;
}
.contacts-schedule {
  padding: 0;
  margin: 0;
  margin-bottom: 67px;

}
.contacts-address-text{
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
font-size: 18px;
line-height: 30px;
}

.transport-company{
  padding: 0;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 52px;
  list-style-type: none;
}
.transport-company li::before{
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFC700;
  display: inline-block;
  margin-right: 26px;

}
.company-item{
  margin-bottom: 31px;
}
.contacts-schedule-item{
  list-style-type: none;
}
.first-paragraph{
  margin: 0;
  padding-bottom: 50px;
}
.last-paragraph{
  margin: 0;
}

.mailing{
  color: #444444;
  background: #F0F0F0;
  font-size: 18px;
  line-height: 30px;
  
  width: 1440px;
  margin: 0 auto;
  
}
.mailing-send {
  margin-top: 75px;
  margin-right: 40px;

}
.mailing-send-heading {
  margin-bottom: 53px;

}
.subscription-text{
margin-top: 86px;
margin-bottom: 50px;
width: 560px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.page-mailing{
  display: grid;
  grid-template-columns: 560px 560px;
  margin: 0 auto;
  
  width: 1160px;
}
.mailing-send-heading{
  margin-top: 0px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.mailing-free::before{
content: "";
background-image: url("images/");
}
.newsletter-form{
  margin-bottom: 130px;
}
.newsletter{
  padding: 0;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.footer-address{
  width: 240px;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1160px;
  
}
.footer-social {
margin-top: 62px;
display: flex;
align-items: center;
justify-content: center;

}

.footer-contacts{
width: 250px;


}
.footer-contacts-logo{
  margin-top: 62px;
  margin-left: 138px;
}

.about-text{
  color: #FFE17F;
  width: 115px;

  margin-right: 140px;
}
.htmlacademy-link{
  color: #FFE17F;
  margin-right: 140px;
}
.footer-social-list{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin-left: auto;
    margin-right: 390px;
}
.nav-page-header{
padding-left: 60px;
}
.page-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF; 
  background: #242424;
  width: 1440px;
 
 
}
.footer-servises a{
  color: #FFFFFF;
  padding: 20px 14px 20px 15px;
}

.footer-servises:not(:last-child) {
 
  margin-right: 10px;
}
.footer-servises:hover{

  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}
.footer-contacts-logo {
margin-top: 62px;

}

.page-footer-title {
  margin-top: 62px;

}
 .filter-sorting{
  display: flex;
  /* width: 972px; */
 
} 
.sorting-right{
  text-transform: uppercase;
  margin: 0;
  padding-top:25px;
  padding-bottom: 25px;
  font-style: 400;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
}

.catalog-products {
  display: flex;
  margin-right: 72px;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 70px;
}
.catalog-filter{
  width: 200px;
}
.filter{
  width: 200px;
  text-transform: uppercase;
  margin: 0;
  padding-top:25px;
  padding-bottom: 25px;
  font-style: 400;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
}
.sorting{
  display: flex;
  width: 972px;
  margin: 0 auto;
}
.catalog-right-column {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pagination-show-more{
  margin: 0;
  margin-bottom: 51px;
  padding: 15px;
  border: #F0F0F0 3px solid;
  background-color: #FFFFFF;
}
.product-list{
  padding: 0;
  display: grid;
  width: 760px;
  grid-template-columns: 360px 360px;
  margin-bottom: 44px;
  gap: 40px;
}

.product-card {

  list-style: none;
}
.product-card-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.main-goods__list {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}
.main-goods__item-wrap {
    padding: 0;
    width: 160px;
    height: 160px;
    background-color:#FFE17F;
    text-align: center; 
}
.main-goods__item-wrap:hover{
  background: #FFC700;
}
.main-goods__item-wrap:focus{
  background: #FFE17F;
  border: 5px solid #AF4FFF;
}
.main-goods__item-wrap:active{
  
  background: #FFC700;
  border: 5px solid #AF4FFF;
  opacity: 0.3;
}




.main-goods__img-vr {
  width: 97px;
  height: 55px;
  padding-top: 53px;
}
.main-goods__img-selfie{
  padding-top: 43px;
}
.main-goods__img-cam{
padding-top: 38px;
}
.main-goods__img-fit{
padding-top: 49px;
}
.main-goods__img-watch{
padding-top: 31px;
}
.main-goods__img-copter{
padding-top: 49px;
}



.main-goods__item-name {
  width: 160px;
  margin: 0;
  padding-top: 33px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", "Verdana", sans-serif;
  color: #000;
  background: #FFFFFF;
  letter-spacing: -0.02em;
}
.main-goods:last-child {
  margin-right: 0;
}
.main-goods {
  margin-bottom: 70px;
}





.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
  list-style-type: none;
}


.slider-button {
  width: 40px;
  height: 80px;
  border: none;
  cursor: pointer;
 background: none;
}

.slider-prev:hover{
  opacity: 0.6;
}
.slider-prev:active{
  opacity: 0.3;
}
.slider-prev:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 6px;
}
.slider-next{
  transform: rotate(180deg);
}
.slider-next:hover{
  opacity: 0.6;
}
.slider-next:active{
  opacity: 0.3;
}
.slider-next:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 6px;
}




.slider-pagination-item{
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000000;
  background-color: #FFFFFF;
}
.slider-pagination-item:first-child{
  background-color: #000;
}


.slider-pagination-item {
  margin-right: 22px;
}
.slider-pagination-button{
  display: none;
}
