@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
}


@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/rubik.-700woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;

}
body {
  margin: 0 auto;
  min-width: 1160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF; 
}
.main-container{
  flex-grow: 1;
}
.main-inner { 
   
   width: 1160px;
   margin: 0 auto;
}

a {
  text-decoration: none;  
}
.page-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
  flex-direction: column;
  color:#000000;
  background: #FFE17F;
  width: 1160px;
}
/* .page-container{
  width: 1160px;
  margin: 0 auto;
} */
/* .navigation {
  display: flex;
  justify-content: center;
} */

.navigation-logo{
  margin-left: 60px;
}
.navigation-item-serch{
  margin-left: 60px;
  margin-right: 24px;
  width: 516px;
}
.navigation-item-enter{
  margin-right: 15px;
  width: 245px;
}
.navigation-item-compare{
  margin-right: 14px;
  width: 120px;

}
.navigation-item-basket{
  margin-right: auto;
  width: 141px;
}

.img-serch {    
  margin-right: 20px;
}
.img-enter{
  margin-right: 12px;
}
.img-compare{
  margin-right: 10px;
}
.img-basket{
 margin-right: 10px;
}
.custom-menu{
  margin-top: 35px;
  margin-bottom: 30px;
}

.main-menu{
  text-transform: uppercase;
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.navigation-item-catalog{
  width: 286px;
  margin-right: 250px;
  margin-left: 60px;
}
.navigation-item-delivery{
  width: 140px;
margin-right: 19px;

}
.navigation-item-guarantee{
  width: 140px;
margin-right: 82px;
}
.navigation-item-contacts{
  width: 140px;
  margin-right: 59px;
}







.navigation-link {
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;  
  margin: 0;
  padding: 0;
 
}
.navigation-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* .navigation-list-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
} */
/* .navigation-item {
  align-items: flex-start;
  display: flex;

} */

/* .main-menu{
  max-width: 1041px;
  display: flex;
  justify-content: flex-start;
} */

.slide-content{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 70px;

}
.slider-container {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}
.slider-image{
  padding-right: 40px;
  width: 560px;

}
.categories-popular{
  background: #FFE17F;
  margin-right: 40px;
}
.categories-popular:last-child {
  margin-right: 0;
}

.slide-text{
  width: 560px;
  
}
.slide_text  {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  
}
.button-all {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none; 
  color: #000000;
}
.meaning {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  /* width: 160px; */
}
.description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
  color: #444444;
  /* width: 160px; */
}
.categories-table{
  
  display: flex;
  flex-direction:row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
 
}
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0; 
  list-style-type: none;
  color: #000000;
  
}
.breadcrumbs-link {
  margin-right: 36px;
  color: inherit;
}

.sorting-type{
  display: flex;
  /* margin-bottom: 25px;
  margin-top: 25px; */
}
.product-card-title {
color: #000000;
font-size: 18px;
line-height: 24px;

}
.product-card-price{
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-size: 18px;
line-height: 21px;
font-weight: 400;

}
.button{
  margin-right: 10px;
}

.button-back{
  border: 0px;
  color: #000000;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-forward{
  border: 0px;
  color: #000000;
  width: 86px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
}
.categories-table-element {
  font-family: "Raleway", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color:#000000; 
  background: #FFFFFF;
  
}
.pagination {
  width: 760px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 77px;
  background-color: #F0F0F0;
}
.pagination-item:not(:last-child) {
  margin-right: auto;
}

.page-categories{
  width: 1160px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 70px;
}

.slider-container-services {
  background: #F0F0F0;
  display: flex;
  width: 1160px;
  
}

.services{
  background: #F0F0F0;
  margin-bottom: 90px;
  
}
.slider-services {
color: #444444;
font-size: 18px;
margin-right: 240px;

}
.service-delivery {
  color: #FFE17F;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.service-guarantee {
  color: #000000;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

}
.service-credit {
  color: #000000;
  font-weight: 800; 
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.page-delivery{
  width: 1160px;
  margin: 0 auto;

}
.delivery {
  background: #F0F0F0;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 97px;
}
.page-services-container{
  display: flex;
  margin: 0 auto;
  width: 1160px;
}
.product-description{
display: flex;
flex-wrap: wrap;
  
}
.delivery-text{
  width: 497px;
  margin-right: 60px;
  margin-bottom: 70px;
}

.about-company{
  display: flex;
  flex-direction:row;
  width: 1160px;
  margin-bottom: 87px;
}

.aboutfirm {
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  margin-right: 40px;
  
}
.aboutfirm a {
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
.aboutfirm-title{
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 53px;
}
.aboutfirm-title-text{
  margin-bottom: 70px;

}
.contacts{
  color: #444444;
  font-size: 18px;
  line-height: 30px;
}
.contacts-a{
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

}
.contacts-title{
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 53px;
}
.contacts-subtitle{
  margin-top: 30px;
  margin-bottom: 15px;

}
.contacts-phone{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
}
.contacts-schedule {
  margin: 0;
  margin-bottom: 67px;

}

.transport-company{
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 52px;
}

.mailing{
  color: #444444;
  background: #F0F0F0;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction:row;
  width: 1440px;
  margin: 0 auto;
  
}
.mailing-send {
  margin-top: 75px;
  margin-right: 40px;

}
.mailing-send-heading {
  margin-bottom: 53px;

}
.subscription-text{
margin-top: 86px;
margin-bottom: 50px;
width: 560px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.page-mailing{
  display: flex;
  margin: 0 auto;
  
  width: 1160px;
}
.mailing-send-heading{
  margin-top: 0px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.newsletter-form{
  margin-bottom: 130px;
}
.newsletter{
  padding: 0;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.footer-address{
  width: 240px;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1160px;
  
}
.footer-social {
margin-top: 62px;
display: flex;
align-items: center;
justify-content: center;

}

.footer-contacts{
width: 250px;


}
.footer-contacts-logo{
  margin-top: 62px;
  margin-left: 138px;
}

.about-text{
  color: #FFE17F;
  margin-left: auto;
  margin-right: 140px;
}
.htmlacademy-link{
  color: #FFE17F;
}
.footer-social-list{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin-left: auto;
    margin-left: 645px;
}

.page-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF; 
  background: #242424;
  width: 1440px;
 
 
}
.footer-servises:not(:last-child) {
 
  margin-right: 10px;
}

.footer-contacts-logo {
margin-top: 62px;

}

.page-footer-title {
  margin-top: 62px;

}
 .filter-sorting{
  display: flex;
  /* width: 972px; */
 
} 
.sorting-right{
  text-transform: uppercase;
  margin: 0;
  padding-top:25px;
  padding-bottom: 25px;
  font-style: 400;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
}

.catalog-products {
  display: flex;
  width: 468px;
  margin-right: 72px;
  justify-content: flex-start;
  flex-direction: column;
}
.filter{
  text-transform: uppercase;
  margin: 0;
  padding-top:25px;
  padding-bottom: 25px;
  font-style: 400;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
}
.sorting{
  display: flex;
  width: 972px;
  margin: 0 auto;
}
.catalog-right-column {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pagination-show-more{
  margin-bottom: 51px;
  padding: 15px;
  border: #F0F0F0 3px solid;
  background-color: #FFFFFF;
}
.product-list{
  padding: 0;
  display: flex;
  width: 760px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.product-card {
  width: calc(100%/2);
  list-style: none;
}




